html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;  
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    line-height: 1.6;
    background-color: #F7EFE5 !important;
}


.container, .row {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #E2BFD9 !important;
}

.navbar-brand {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.card {
    background-color: white !important;
    min-width: 0; 
}


p, h1, h2, h3, h4, h5, a {
    color:  black !important;
}


.item, .add-item {
    margin-bottom: 20px;
    min-width: 340px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.image-container img {
    height: 100%;
    width: 100%;
    max-height: 490px;
}

.item .card {
    transition: transform 0.3s ease; 
}

.item .card:hover {
    transform: scale(1.05);
}

#id_photo, #id_description, #id_name, #id_price {
    width: 100%;
}

.filter-button {
    border-radius: 20px;
}

.active-filter {
    background-color: #007bff;
    color: white;
}

.form-group {
    margin-bottom: 20px; 
    width: 100%;
  }
  
.center * {
    width: 100%;
}

.botao-topo {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 4.75rem;
    right: 20px;
    display: none;
    border: none;
    border-radius: 2rem;
    background-color: black !important;
  }

footer {
    background-color: #E2BFD9;
    display: flex;
    height: 4rem;
    padding: 0 20px;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 800;
    justify-content: space-between;
    align-items: center;
}

footer > p {
    margin:0
}

.contato {
  display: flex;
  height: 4rem;
  gap: 0.5rem;
}

.contato > a {
    display: flex;
    align-items: center;
}

.contato > a > img {
  height: 40%;
  max-height: 4rem;
}

